// header.module.scss
.main {
  display: flex;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;

}

.logoo{
   display: flex;
gap: 10px;
margin-left: 50px;
  .p{
   
    width: 202.67px;
    height: 34.67px;
    margin-top: 65.33px;
    left: 129.33px;
  font-family: Google Sans;
font-size: 27px;
font-weight: 400;
line-height: 35px;
letter-spacing: 0em;
 text-align: left;
 color:#FFFFFF;

    
  }
}
.logoimg {

  width: 49.33px;
  height: 85.33px;
  margin-top: 40px;

  
  }


.link {
  display: flex;
  margin-top: 50px;
  gap: 50px  ;
}

.name {
  color: #FFF;
  font-family: Google Sans;
font-size: 21px;
font-weight: 500;
line-height: 40px;
letter-spacing: 0em;
text-decoration: none;
  max-width: 100%;
  
 
}

.zerologo {
  width: 14px;
  height: 14px;
  flex-shrink: 0;
 
}
.zerosetting{
  margin-bottom: 15px ;
}
.zeroimg {
  border: 1px solid #FF2B77;
  border-radius: 10px;
  background-color: #FF2B77;
  height: 8px;
  width: 12px;
  color: #FFF;
  text-align: center;
  font-family: 'Google Sans';
  font-size: 8px;
  font-style: normal;
  font-weight: 700;
  line-height: 8px; /* 100% */
  margin-left: -10px;
  margin-top: -60px;
 
}

.basketimg {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  color: #ffffff;
}

.basketsetting {
  display: flex;
  margin: 50px 100px 20px 70px;
}

