$Primary-color:#007456;
$Secondary-color:#7bdcb5;
$Tertiary-color:rgba(255, 255, 255, 1);
$forth-color:#007456;
$fifth-color:#999999;
$six-color:rgb(151,120,209);
$seven-color:#9b51e0;
$eight-color:#000000;
$nine-color:#ccc;