.icon{  
    display: flex;
   align-items: center;
    gap: 10px;
}
.img{
    width: 18px;
    height: 18px;

}
.ptextss{
    width: 518px;
height: 22px;
margin-left: 1%;
font-family: Poppins;
font-size: 14px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0em;
color: #ffff;

}