@import "../../styles/color.module.scss";
@import "../../styles/fontsize.scss";

.form {
  width: 85%;
  height: 70px;
  border-radius: 40px;
  background: $Tertiary-color;
}
.inputfield {
  display: flex;
  padding: 1%;
}
.inerinput {
  width: 100%;
  height: 50px;
  // border-radius: 7px;
  border-right: 1px solid lightgrey;
  border-bottom: none;
  border-top: none;
  border-left: none;
  padding-left: 2%;
  outline-style: none;
}
.widthbuton {
  width: 100%;
  align-self: center;
}
.butn {
  padding-left: 1%;
  width: 60%;
}
