@import "../../styles/color.module.scss";
@import "../../styles/fontsize.scss";

.mainconainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex {
  display: flex;
  align-items: center;
  column-gap: 60px;
}
.divflex {
  display: flex;
  align-items: center;
}
.name {
  width: 17%;
  line-height: 2px;
  color: #555555;
  cursor: pointer;
  &:hover {
    color: $Primary-color;
  }
}
.titleditting {
  font-size: calc(24px + (32 - 24) * (100vw - 445px) / (1440 - 445)) !important;
  font-weight: 500 !important;
  letter-spacing: 0;
}
.paragraaph {
  font-size: calc(10px + (19 - 10) * (100vw - 445px) / (1440 - 445)) !important;
  width: 100% !important;
}
.picture {
  &:hover {
    background: $Primary-color;
  }
}
.portion10 {
  border-top: 0.5px solid #e5e5e5;
}
.divportion10flex {
  display: flex;
  padding: 6%;
  align-items: center;
}
.butontexteit {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 7%;
}
.btndivedit {
  width: 200px !important;
}
.textmap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 30%;
}
.footersub {
  display: flex;
}
.subdivision {
  display: flex;
  padding: 4%;
}
.textmapedit {
  width: 40%;
}
.t {
  font-size: calc(12px + (18 - 12) * (100vw - 445px) / (1440 - 445)) !important;
  line-height: 22px !important;
  font-weight: 400 !important;
  color: black !important;
}
.p {
  font-size: calc(12px + (18 - 12) * (100vw - 445px) / (1440 - 445)) !important;
  line-height: 20px !important;
  width: 90% !important;
}
.d {
  font-size: calc(12px + (19 - 12) * (100vw - 445px) / (1440 - 445)) !important;
  line-height: 22px !important;
  font-weight: 400 !important;
  color: black !important;
  width: 35% !important;
  &:hover {
    color: $Primary-color !important;
  }
}
.lastdiv {
  border-top: 0.5px solid #e5e5e5;
  padding-left: 3%;
}
.background {
  background: $Primary-color !important;
  height: 80px !important;
  width: 80px !important;
}
.picsetting {
  width: 60px !important;
  height: 50px !important;
}
.footer {
  border-top: 0.5px solid #e5e5e5;
}
