@import "../../styles/color.module.scss";
@import "../../styles/fontsize.scss";

.modaloverlay {
    position: absolute;
     top: 0;
    left: 0;
    ::-webkit-scrollbar {display:none;}
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
     align-items: center;
    z-index: 1;
  }
  
  .modalcontent {
    background: #fff;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 20px;
    height: 300px;
    width: 25%;
    padding: 2%;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  .closebtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #333;
  }
  
.inerinput{
    height: 40px;
    width: 95%;
    border: 1px solid #8d8d8d;
    border-radius: 10px;
    padding-left:4% ;
    outline-style: none;
    margin-top: 5px;
}
.divusername{
    font-size: 15px;
    padding: 15px 20px;
    background-color: #edf2f1;
    margin-bottom: 24px;
    border-radius: 8px;
}
.divusername p {
    font-size: 15px;
    color: #555555;
}
.divusername p span {
    font-size: 15px;
    color: #007456;
}
 .label{
    font-size: 16px;
    color: #111111;
    font-weight: 500;
   
 }
 .paswordreset p{
    font-size: 15px;
    color: #555555;
    cursor: pointer;
 }
 .paswordreset p span{
    font-size: 15px;
    color: #007456;
 }
 .btnset{
    &:hover{
        color:#007456 !important;
        background:#fff !important ;
        border: 1px solid #007456;
    }
 }
 .continue{
    font-size: 16px;
    color: #555555;
    text-align: center;
 }
 .imagess{
    display:flex;
    justify-content: center;
    cursor: pointer;
 }

  .svgbuton{
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
  }
  .namess{
    display: flex;
    gap: 10px;
  }
  .finput{
    width: 50%;
    height: 40px;
    outline-style: none;
    border: 1px solid #8d8d8d;
    border-radius: 10px;
    padding-left: 3%;
  }
  .labelss{
    padding-top: 4%;
    padding-bottom: 2%;
    display: flex;
    align-items: center;
    gap: 27%;
  }
  .inputfield{
    display: flex;
    flex-direction: column;
     gap: 10px;
    padding-top: 3%;
  }
  .checkbox{
    display: flex;
    align-items: center;
  }

  .logsign{
    display: flex;
    gap: 30px;
    margin-top: -30px;
 }

 .active{
  color: #8d8d8d;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 3px;
    border-bottom: 2px solid transparent;
    margin-right: 20px;
    cursor: pointer;
 }
 .activesign{
  color: #8d8d8d;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
  margin-right: 20px;
  cursor: pointer;
 }
  .act{
    color: #111111;
  border-bottom: 2px solid #111111;
  }
  .actsign{
    color: #111111;
    border-bottom: 2px solid #111111; 
  }