.maincontainer {
  background-color: black;
  height: 800px;
}
.title {
  color: #fff;
  font-family: Google Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 65px; /* 162.5% */
  width: 200px;
  margin-left: 50px;
  margin-top: 150px;
  // height: 123px;
}
.content {
  margin-left: 30px;
  color: #fff;
  font-family: Google Sans;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 65px;
  margin-top: -30px;
  width: 707px;
  height: 123px;
}
.para {
  width: 350px;
  height: 72px;
  color: #31546d;
  font-family: Google Sans;
  font-size: 16px;
  font-style: normal;
  margin-left: 50px;
  font-weight: 400;
  margin-top: -50px;
  line-height: 24px; /* 150% */
}
.portionflex {
  display: flex;
}

.buttonsdisplay {
  display: flex;
  gap: 5px;
}
.btnediting {
  margin-left: 50px;
  color: #317189;
  text-align: center;
  font-family: Google Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  border: transparent !important;

}
.aboutus {
  color: #317189;
  font-family: Google Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  border: transparent !important;
  background: transparent !important;
  box-shadow: none !important;
}
.mouseedit{
  color: #317189;
font-family: Google Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
margin: 33px 198px 107px 75px;
}
.portion2 {
  height: 184px ;
  flex-shrink: 0;
  background-color:  lightblue;

}


.text {
   margin-left: 660px;
  color: #31546d;
  text-align: center;
  font-family: Google Sans;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 108.696% */
}
.displayflex{
    display: flex;
    border: transparent !important;
    margin-left: 65px;
}
.flexibility{
    display: flex;

}
.flexcontent{
    display: flex;
    gap: 100px;
}
.fillter{
    color: #9AB0C0;
font-family: Google Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 187.5% */
}
.product{
 margin-left: 10px;
    color: #31546D;
font-family: Google Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 187.5% */
}
.sort{
    color: #9AB0C0;
font-family: Google Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 187.5% */
}
.selling{
    margin-left: 10px;
    color: #31546D;
font-family: Google Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 187.5% */
}
.price{
  margin-top: 163px;
  margin-left: 485px;
  color: #31546D;
text-align: right;
font-family: Google Sans;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 65px; /* 162.5% */

}
.grip{
  margin-top: -49px;
  margin-left: 212px;
  color: #31546D;
font-family: Google Sans;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: 65px;

}
.circlepading{
  display: flex;
 
}
.discountedprice{
  margin-top: 30px;
  color: #E35B3E;
  text-align: center;
  font-family: Google Sans;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}
.fullprice {
  margin-left: 441px;
  margin-top: 60px;
  color: #41a0b7;
  text-align: center;
  font-family: 'Google Sans';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 125% */
  text-decoration: line-through;
}

.pricetagcontainer{
  display: flex;
  margin-top: -80px;
}
.description{
  width: 400px;
  height: 35px;
  margin: -60px 66px 559px 300px;
  color: #31546D;
text-align: right;
font-family: Google Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */

}
.viewbutton {
  width: 180px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 18px;
  background: var(--1, linear-gradient(90deg, #75CCEB 0%, #6FB4FF 100%)) !important;
  color: #FFF;
  text-align: center;
  font-family: Google Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  border: transparent !important;
}
.buttons{
  margin-top: -480px;
  margin-left: 455px;
}
.lastportion{
  width: 1710px;
height: 269px;
flex-shrink: 0;
background: rgba(10, 41, 77, 0.80);
}