@import "../../pages/handyman/color.module.scss";
@import "../../pages/handyman/fontsize.scss";

.p {
  width: 100%;
   height: 10px;
  @include font64;
  font-weight: 900;
  line-height: 59px;
  color: $Primary-color; 
  @media screen and (max-width:450px) {
    font-size: 46px !important;
       height: 10px ;
       display: flex;
      
      //  justify-content: center;
     }
}
.p1 {
  width: 100%;
    height: 10px;
  @include font64;
  font-weight: 900;
  line-height: 59px;
  color: $Primary-color; 
  @media screen and (max-width:450px) {
font-size: 46px !important;
   height: 30px ;
 }
 @media screen and (max-width:800px) {
  font-size: 46px !important;
     height: 20px ;
   }
}
.p2 {
  width: 100%;
   height: 30px;
  font-family: Poppins;
  @include fontp2;
  font-weight: 500;
  line-height: 15px;
  color: $Primary-color;
@media screen and (max-width:450px) {
   line-height: 15px;
  height: 36px !important;
  //  width: 200px;
  font-size: 15px;
   display: flex;
  //  justify-content: center !important;
}
}

