.btn{
    width: 180px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 18px;
    background: linear-gradient(90deg, #FFF 0%, #F1FAFF 100%);
    box-shadow: 0px 20px 40px 0px rgba(255, 255, 255, 0.15);
}

