@import '../../pages/handyman/color.module.scss';
@import '../../pages/handyman/fontsize.scss';

.main{
    display: flex;
    justify-content: center;
    gap: 5%;
    
}
.name{
    color: $Primary-color;
    font-family: Poppins;
    @include fontp2;
    font-weight: 500;
    line-height: 20px;
    text-decoration: none ;
    
}